/* new */
.card-body {
    display: flex;
    /* This is how you do the gaps properly */
    gap: 1rem;
    padding: 1rem; /* You may also use margin here instead */
}

article {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    width: 350px;
    height: min-content;

    .card-check {
        display: none;
    }

    .card-open-symbol {
        font-size: 1.5rem;
        rotate: 90deg;
        transition: rotate 0.5s;
        cursor: pointer;
    }

    &:has(.card-check:checked) {
        >main {
            opacity: 0%;
            max-height: 0;
            transition: opacity 0.2s, max-height 0.2s ease 0.2s;
        }

        .card-open-symbol {
            rotate: 0deg;
        }
    }

    &:has(header) {
        main {
            img {
                border-radius: 0 0 var(--border-radius) var(--border-radius);
            }
        }
    }

    &:has(footer) {
        main {
            img {
                border-radius: var(--border-radius) var(--border-radius) 0 0;
            }
        }
    }


    header {
        line-height: 2rem;
        border-bottom: 1px solid var(--border-color);
        padding: var(--space);
        /* new */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 3px;
        }
    }

    main {
        padding: var(--space);
        width: inherit;

        max-height: 2000px;
        transition: max-height 0.2s ease, opacity 0.2s 0.2s;

        &:has(img) {
            padding: 0;
        }

        img {
            width: inherit;
            border-radius: var(--border-radius);
            margin-bottom: -6px;
        }
    }

    footer {
        border-top: 1px solid var(--border-color);

        ul {
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: space-between;

            & li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }

            & li:not(:has(+ li)) {
                justify-content: center;
            }

            & li:has(+ li)::before {
                content: "";
            }

            & li:has(+ li)::after {
                content: "|";
            }
        }
    }
}
